* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --color-primary: #bb86fc;
}

/* VARIABLES */
:root {
    --color-primary: #6a0572;
    /* Morado */
    --color-secondary: #ff4d6d;
    /* Terracota */
    --color-accent: #fffaf5;
    /* Coral */
    --bg-color: #fefae0;
    /* Beige natural */
    --text-color: #333;
}

body {
    background: var(--bg-color);
    background: radial-gradient(circle,
            var(--bg-color) 0%,
            var(--color-primary) 100%);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    height: 100%;
}
main {
    flex: 1;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary);
    padding: 1rem 2rem;
    position: relative;
}

.logo {
    color: white;
    font-weight: 2px;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--color-secondary);
}

.toggle-btn {
    background: var(--color-secondary);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    padding: 10px 0;
    display: none;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.dropdown-menu li {
    padding: 8px 15px;
}

.dropdown-menu li a {
    color: #333;
}

.dropdown-menu li:hover {
    background: #f2f2f2;
}

/* MOstrar Dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
    transition: 0.3s;
}

/* Menu móvil desplegable */
.menu-toggle {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

/* HERO */
.hero {
    padding: 4rem 2rem;
    text-align: center;
    background: #fff;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* SERVICIOS */
.services {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    flex: 1;
    text-align: center;
    padding: 2rem;
}

.card:hover {
    transform: translateY(-5px);
}

/* PRODUCTS */
.products {
    padding: 4rem 2rem;
    text-align: center;

}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;

}

.product-card {
    flex: 1;
    background: white;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s;

}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.product-card img {
    width: 100%;
    height: 350px;
    object-fit: fill;
    border-radius: 12px;
    margin-bottom: 1rem;

}

.product-card .btn {
    color: var(--bg-color);
    padding: .5%;
}

.btn {
    padding: 1rem 1rem;
    text-decoration: none;
    border: none;
    background: var(--color-primary);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: var(--color-secondary);
}

.dark-mode {
    background: #1e1e1e;
    color: #f1f1f1;
}

.dark-mode .navbar {
    color: var(--color-primary);
}

.dark-mode .services .card {
    background: var(--color-primary);
    border: 3px solid var(--bg-color);
}

.dark-mode .hero {
    background: #1e1e1e;
}

.dark-mode .product-card {
    background: #1e1e1e;
    border: 3px solid var(--bg-color);
}

.dark-mode .btn {
    border: 3px solid var(--bg-color);
}

.dark-mode .about-header h1 {
    color: var(--color-secondary);
    
}

.dark-mode .about-text h2 {
    color: var(--color-secondary);
}

.dark-mode .about-header p {
    
    color: var(--color-accent);
}

.dark-mode .value-card p {
    color: var(--text-color);
}

.dark-mode .about-text p {
    color: var(--color-accent);
}
.dark-mode .about-text {
    border-radius: 14px;
    border: 3px solid var(--bg-color);
}

.dark-mode .values {
    border-radius: 14px;
    border: 3px solid var(--bg-color);
}

.dark-mode .about-image img {
    border-radius: 14px;
    border: 3px solid var(--bg-color);
}

.dark-mode .values h2 {
    color: var(--color-secondary);
}


/* CTA */
.cta {
    text-align: center;
    padding: 2rem;
}

/* CONTACTO */
.contact {
    padding: 3rem 2rem;
    background: var(--color-accent);
    text-align: center;
}

form {
    max-width: 500px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0.8rem;
    border: none;
    background: var(--color-primary);
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

button:hover {
    background: var(--color-secondary);
}

/* =========================
   ABOUT PAGE
========================= */

.about {
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
}

.about-header {
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.about-header h1 {
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.about-header p {
    color: var(--text-color);
    opacity: 1;
}

/* CONTENIDO */

.about-content {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 50px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.about-text {
    flex: 1;
}

.about-text h2 {
    color: var(--text-color);
    margin-bottom: 15px;
}

.about-text p {
    margin-bottom: 12px;
    line-height: 1.6;
    color: var(--text-color);
}

/* =========================
   VALUES
========================= */

.values {
    max-width: 1100px;
    margin: 80px auto;

    padding: 0 20px;
    text-align: center;
}

.values h2 {
    color: var(--text-color);
    margin-bottom: 40px;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1, 1fr));
    gap: 25px;
}

.value-card {
    background: var(--color-accent);
    padding: 30px 25px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    transition: transform 0.25s ease;
    margin-bottom: 10px;
}

.value-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);

}

.value-card h3 {
    color: var(--color-secondary);
    margin-bottom: 10px;
}

.value-card p {
    color: var(--text-color);
}

footer {
    background: var(--color-primary);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 1;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: var(--color-primary);
        padding: 20px;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .services {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .product-grid {
        flex-direction: column;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .values-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .value-card {
        padding: 25px 20px;
    }

    .about-content img {
        width: 100%;
    }
}