<nav class="navbar">
  <div class="logo">ArtesaniasCochuelo</div>

  <ul class="nav-links show" id="navLinks">
    <li><a href="index.html">Inicio</a></li>

<li class="dropdown">
  <a href="#">Productos ▾</a>
  <ul class="dropdown-menu">
    <li><a href="productos.html">Todos</a></li>
    <li><a href="productos.html?cat=manillas">Manillas</a></li>
    <li><a href="productos.html?cat=collares">Collares</a></li>
    <li><a href="productos.html?cat=aretes">Aretes</a></li>
  </ul>
</li>

<li><a href="sobre-nosotros.html">Sobre nosotros</a></li>
<li><a href="contacto.html">Contacto</a></li>

<li>
  <button class="toggle-btn" id="toggle-theme">Modo Oscuro</button>
</li>
  </ul>
  <div class="menu-toggle" id="menuToggle">☰</div>
</nav>
